@import "../../../../../../globals.scss";

.file-tab {
  &__wrapper {
    padding-bottom: $default-padding-margin;
  }
  &__fail-icon {
    padding-right: $default-padding-margin;
  }
}
.tabs {
  ul {
    margin-left: 0px !important;
  }
  .is-active {
    font-weight: $title-font-weight;
  }
}