@import "~bulma/sass/utilities/_all";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$brand-primary: #2FB04A;
$brand-primary-dark: #31984f;
$title-text-color: #fff;
$body-text-color: #fff;
$white-color: #ffffff;
$secondary-text-color: #a1a1a7;
$error-text-color: #BA4351;
$warning-text-color: #d2b63f;
$backgroud-color: #131525;
$backgroud-color-dark: #131525;
$box-color: #292a3b;
$button-background-color: #45485d;
$input-placeholder: #52566e;
$danger-color: #f14668;
$edit-icon-color: #9B9B9B;
$divider-color: #5f6292;
$side-menu-background: #232436;
$dropdown-background: #373955;
$title-font-weight: 700;
$navbar-height: 0rem;
$default-padding-margin: 0.75em;
$default-padding: 16px;
$default-font-size: 14px;
$default-subtitle-font-size: 12px;
$sidebar-width: 200px;
$global-progress-height: 72px;
$full-height: 100%;
$full-width: 100%;

// Update Bulma's global variables
$primary: $brand-primary;
$danger: $error-text-color;
$warning: $warning-text-color;
$dark: $box-color;
$family-sans-serif: 'Lato', sans-serif;
$link: $brand-primary;
$body-background-color: $side-menu-background;

// -- Nav
$navbar-background-color: $side-menu-background;
$navbar-item-color: $white-color;
$navbar-item-hover-color: $white-color;
$navbar-item-hover-background-color: $box-color;
$navbar-item-active-color: $white-color;
$navbar-dropdown-arrow: $white-color;
$navbar-divider-background-color: $button-background-color;
$navbar-dropdown-background-color: $side-menu-background;
$navbar-dropdown-item-hover-color: $white-color;
$navbar-dropdown-item-hover-background-color: $box-color;
$navbar-padding-vertical: 0.5rem;
$navbar-padding-horizontal: 0.5rem;
$navbar-height: 4rem;

// -- Tab
$tabs-border-bottom-color: $box-color;
$tabs-link-color: #ffffff;
$tabs-link-hover-color: #ffffff;
$tabs-border-bottom-width: 2px;

// -- Table
$table-color: $body-text-color;
$table-head-cell-color: $body-text-color;
$table-background-color: $backgroud-color;
$table-row-hover-background-color: $box-color;
$table-cell-border: 1px solid;
$border: #45485d;
$table-cell-border-width: 0 0 2px 0;

// -- Input
$input-background-color: $box-color;
$input-border-color: $box-color;
$input-color: $body-text-color;
$label-color: $title-text-color;

// -- Dropdown
$dropdown-content-background-color: $dropdown-background;
$dropdown-item-color: $body-text-color;
$dropdown-item-hover-color: $body-text-color;
$dropdown-item-hover-background-color: #414364;
$dropdown-content-shadow: 0 0.5em 1em -0.125em rgba($divider-color, 0.1), 0 0px 0 1px rgba($divider-color, 0.02);

// -- Button
$button-color: $title-text-color;
$button-background-color: $button-background-color;
$button-border-color: $button-background-color;
$button-disabled-background-color: $button-background-color;
$button-hover-color: $title-text-color;
$button-hover-border-color: #3b3e53;

// -- Wrapper
$wrapper-width: 500px;
$wrapper-margin: 32px auto;

// -- Alert
$alert-content-size: 16px;

@import "~bulma";
@import "~buefy/src/scss/buefy";

// global styles

html,
body {
  background-color: $backgroud-color;
  color: $body-text-color;
  font-size: $default-font-size;
  letter-spacing: 0.2px;
}

h1 {
  font-size: 18px !important;
  font-weight: normal !important;
  margin-bottom: $default-padding-margin !important;
}

p.subtitle {
  color: $secondary-text-color;
  font-size: $default-font-size;
  margin-bottom: $default-padding-margin;
}

a.is-button {
  text-transform: uppercase;
  color: $title-text-color;
  font-weight: $title-font-weight;
}

.centered-block {
  position: absolute;
  top: 50%;
  left: 25%;
  right: 25%;
  transform: translateY(-50%);
}

.button.is-loading {
  &:hover, &:focus, &:active, &:visited {
    &::after {
      border-color: transparent transparent #fff #fff !important
    }
  }
}

.rounded-button {
  width: $full-width;
  padding-bottom: calc(0.175em - 1px);
  padding-top: calc(0.175em - 1px);
  background-color: $brand-primary;
  align-self: center;
  font-weight: $title-font-weight;
  font-size: $default-font-size;
  font-style: normal;
  line-height: normal;
  color: $white-color;
  border: none;
  &:hover,
  &:active,
  &:focus {
    outline: none;
    border: none;
    color: $white-color;
  }
}

.fixed-notice {
  position: fixed;
  top: 10px;
  left: auto;
  right: calc((100% - 200px) / 2);
  transform: translate(50%, 0%);
  z-index: 1000;
}

.default-notice {
  background: #3b3e53;
  color: white;
}
